# Editor temporaries
*.swp
*.swo

# Editor config
# Ignore nvim stuff?
# tools/nvim/

# macOS dir files
.DS_Store

# PyCharm
.idea/


# Packaging
*.egg-info/
dist/

# Compiled Python
*.pyc

# Pytest cache
.pytest_cache/
__pycache__/

# Jupyter Lab notebook checkpoints
.ipynb_checkpoints/

# Svelte web app
/snippet_viewer/node_modules
/snippet_viewer/public/build
/snippet_viewer/public/data_full/
/snippet_viewer/public/data_pca/
/snippet_viewer/public/data_pca2/
/snippet_viewer/data

/prediction_viewer/node_modules
/prediction_viewer/build
/prediction_viewer/.svelte-kit
/prediction_viewer/package
/prediction_viewer/.env
/prediction_viewer/.env.*



# Reserved folders for input data, output data and output binaries.
data
out
bin

# Generally too big to store in git, and no need for versioning.
/resources
