# Editor temporaries
*.swp
*.swo

# Editor config
# Ignore nvim stuff?
# tools/nvim/

# macOS dir files
.DS_Store

# Packaging
*.egg-info/
dist/

# Compiled Python
*.pyc

# Pytest cache
.pytest_cache/
__pycache__/

# Jupyter Lab notebook checkpoints
.ipynb_checkpoints/

# Svelte web app
web/node_modules
web/public/build
web/data


# Reserved folders for input data, output data and output binaries.
data
out
bin
