torch
numpy
build
twine
h5py
opencv-python
pandas
scipy
plotly
scikit-learn
icecream
bidict 
einops
ipympl
cprofilev
configargparse
pyyaml
tensorboard
kaleido
torchinfo
semantic_version
scinot
scikit-image
moviepy
